/streamOpenAI
/streamlitLLM

_exploration/docs/persist_dir/
_exploration/docs/easyjet_conditions.pdf
_exploration/docs/Booking.com_ Terms and Conditions..html
_exploration/docs/ryanair_conditions.pdf
_exploration/docs/Terms of Service - Airbnb Help Center.html
_exploration/docs/wizzair_conditions.pdf
_exploration/nb/__pycache__

_exploration/nb/credentials.py
_exploration/scripts/credentials.py
_exploration/webinar_demo/credentials.py
_exploration/streamlit_chat/credentials.py

AAI_speech_to_text/credentials.py
OAI_chat_documents/credentials.py
OAI_chat_simple/credentials.py

*.pyc
